---
import Layout from "../layouts/Layout.astro";
import data from "../data/data.json";
import BarLine from "../components/BarLine.astro";
import { parseData } from "../components/DataParser.astro";

const parsedData = parseData(data);

---

<Layout title="Portugal Status Page">
  <main class="flex">
    <div class="mx-auto flex flex-col gap-6">
      <div class="flex flex-col gap-4 max-w-[700px]">
        <div class="pt-8">
          <h1 class="text-3xl">Portugal Status Page</h1>
          <p>An open source status page of public services</p>
        </div>
        <div class="flex flex-col pt-8">
          <BarLine name="Immigration / Reunion" />
          <BarLine name="Immigration / Residency initial 90.2" />
          <BarLine name="Immigration / Residency reissue" />
        </div>
        <div>
          <p>
            Goal of this website is to provide public a reliable source of
            information of quality of public services in Portugal.
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
